/* UNIVERSAL STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* START HEADER STYLE */
.header-container {
  background-color: #1f2937;
  width: 100vw;
  height: 70px;
  display: flex;
  justify-content: space-around;
  position: fixed;
}

.logo {
  color: #f9faf8;
  font-size: 20px;
  margin: 12px;
}

nav {
  margin: 23px;
  padding: 5px 0;
}

nav ul {
  list-style-type: none;
}
nav ul li {
  display: inline-block;
  padding: 0 20px;
}

nav ul li a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

nav ul li a:hover {
  font-weight: bold;
}
/* END HEADER STYLE */

/* START HERO STYLE */
.hero-container {
  background-color: #1f2937;
  width: 100vw;
  height: 570px;
  display: flex;
  justify-content: space-around;
}

.hero-left-side {
  width: 500px;
  margin: 120px;
  padding: 30px 0;
}

.hero-left-side h2 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.hero-left-side p {
  font-size: 18px;
  color: #e5e7eb;
  margin: 5px;
}

.hero-left-side button {
  color: #fff;
  background-color: #3882f6;
  padding: 15px;
  font-size: 18px;
  margin: 10px 5px;
  cursor: pointer;
}

.hero-left-side button:hover {
  font-weight: bold;
}

.hero-right-side img {
  margin: 135px 0;
}
/* END HERO STYLE */

/* START MAIN CONTENT STYLES */

/* ABOUT */
#about {
  background-color: #e5e7eb;
  height: 350px;
}
.text-about {
  margin: auto;
  width: 60%;
  padding: 45px;
}

.text-about h3 {
  text-align: center;
  margin: 5px;
  font-size: 24px;
}

.text-about p {
  font-size: 18px;
  padding: 15px;
}

/* PRODUCT */
.product-container {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  width: 100%;
  flex-wrap: wrap;
}

.title h3 {
  text-align: center;
  margin: 45px 0;
  font-size: 24px;
}
.product-container img {
  width: 300px;
  padding: 20px;
  margin: 20px 0;
}

figcaption {
  text-align: center;
}
/* END MAIN CONTENT STYLES */
